.light {
    /* --bg-primary: linear-gradient(to bottom, #6B46C1, #9B2C68); */
    --gradient-primary: linear-gradient(to bottom, #7C3AED, #cc48dd);
    --bg-secondary: white;
    --text-primary: #4A5568;
    --text-secondary: #6B7280;
    --button-bg: #7C3AED;
    --button-bg-hover: #6228c5;
    --title-Login: black;
}

.dark {
    --gradient-primary: linear-gradient(to bottom, #1C1C1C, #262626);
    --bg-secondary: #1C1C1C;
    --text-primary: #D1D1D1;
    --text-secondary: #A1A1A1;
    --button-bg: #E63946;
    --button-bg-hover: #B31B1B;
    --title-Login: #D1D1D1;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Path: src\styles\index.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}